/*
html,body {
  border-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
*/

nav {
  box-sizing: border-box;
  background-color: black;
  color: white;
  width: 100%;
  /* 3em = 16px * 3 = 48px  */
  height: 3em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

}

a:visited, a:active  {
  color: white;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  justify-content: space-between;
}

.header-logo {
  margin: 1em 0 0 1em;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: auto;
  margin: 1em;
}

.nav-item {
  margin-left: 3rem;
}

.nav-mobile-btn {
  cursor: pointer;
  background-color: black;
  display: none;
  height: 1em;
  width: 1em;
  margin: 1rem 1rem 1rem 0;

}

.mobile-bar {
  background-color: white;
  width: 1em;
  height: 0.2em;
  display: block;
  margin: auto;
}

.mobile-nav-menu {
  display: none;
}

@media screen and (max-width:50rem){
  .nav-list{
    display: none;
  }
  .nav-mobile-btn {
    display: flex;
    flex-direction: column;
  }

  .nav-mobile-btn:active > .mobile-bar:nth-child(2) {
    display: none;
  }
   .nav-mobile-btn:active > .mobile-bar:first-child {
    transform: rotate(45deg) ;
  }
   .nav-mobile-btn:active > .mobile-bar:last-child {
    transform: rotate(-45deg) ;
  }

    .mobile-nav-menu {
    color: white; /* remove */
    width: 4em;
    height: 10em;
    list-style-type: none;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    top: 3em;
    right: 0;
  }

}


.centered {
  margin: auto;
  color: red;
  text-align: jusitified;
  width: 50vw;
  position: relative;
  top: 25vh;
}

.black {
  background-color: black;
  color: white;
}

.content {
  text-align: center;
  margin: auto;
  padding: 5vh;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;

}

/* padding 3em for nav bar*/
.hero {
  padding:3em 0 0 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

nav a {
 text-decoration: none;
 color: #ffffff !important;
}

.slant-right {
  clip-path: polygon(0 0,100% 0,100% 45vh, 0 50%);
}
d
.slant-left {
  clip-path: polygon(0 0,100% 0, 100% 45vh, 0 50%);
}
