/*
  TODO:
    - append specialized name to the front of all classes
    - use SASS to generate css
    - get rid of html, add separate css for testing for only use in storybook but not in dist
 */

/* html,body {
  border-sizing: border-box;
  margin: 0;
  padding: 0 0 0 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
} */

.navBarPadded {
  padding-top: 40px;
}

.black {
  background-color: black;
  color: white;
}

.heading {
  text-align: center;
  margin: auto;
  padding: 5vh;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 25vh;
}

.content {
  text-align: center;
  margin: auto;
  padding: 5vh;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.callToAction {
  background-size: cover;
  position: relative;
}

/* adding padding:3em 0 0 0; for navbar */
.hero {
  min-height: 100vh;
  width: 100vw;
  padding:0 0 0 0;
  margin: auto;
}


.hero-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: white;
  position: absolute;
  top: 50vh;
  left: 25vw;

}

.hero-action-button {
  width: 12em;
  height: 3em;
  border: 2px solid #2b50c8;
  border-radius: 5px;
  color: white;
  background-color: blue;
  text-align: center;
  font-weight: bold;
  margin-top: 1em;
  font-size: 1em;
}

.hero-text {
  font-size: 2em;
  font-weight: bold;

}


.full-width {
  width: 100vw;
}

.slant-right {
  clip-path: polygon(0 0,100% 0,100% 100%, 0 25vh);
}

.slant-left {
  clip-path: polygon(0 0,100% 0, 100% 25vh, 0 100%);
}

/* nav bar */
nav {
  color: white;
  box-sizing: border-box;
  background-color: black;
  width: 100vw;
  /* 3em = 16px * 3 = 48px  */
  height: 3em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  justify-content: space-between;
}

.header-logo {
  margin: 1em 0 0 1em;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: auto;
  margin: 1em;
}

.nav-item {
  margin-left: 3rem;
}

.nav-mobile-btn {
  cursor: pointer;
  background-color: black;
  display: none;
  height: 1em;
  width: 1em;
  margin: 1rem 1rem 1rem 0;

}

.mobile-bar {
  background-color: white;
  width: 1em;
  height: 0.2em;
  display: block;
  margin: auto;
}

.mobile-nav-menu {
  display: none;
}

@media screen and (max-width:50rem){
  .nav-list{
    display: none;
  }
  .nav-mobile-btn {
    display: flex;
    flex-direction: column;
  }

  .nav-mobile-btn:active > .mobile-bar:nth-child(2) {
    display: none;
  }
   .nav-mobile-btn:active > .mobile-bar:first-child {
    transform: rotate(45deg) ;
  }
   .nav-mobile-btn:active > .mobile-bar:last-child {
    transform: rotate(-45deg) ;
  }

    .mobile-nav-menu {
    color: white; /* remove */
    width: 4em;
    height: 10em;
    list-style-type: none;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    top: 1em;
    right: 0;
  }
}

.logo-anchor {
  a {
   text-decoration: none;
   color: #ffffff !important;
  }
}

/* make a specialized name for this  */

a {
 text-decoration: none;
 color: #ffffff !important;
}

.curved {
  background-color:black;
  width:500px;
  height:50px;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  width: 100%;
  min-height: 100%;

}

.header-text {
  color: white;
  text-align: center;
  font-weight: bold;
  margin: auto;
  padding: 5px;
}

.basic-social-bar-wrapper {
  border: 2px solid black;
  max-width: 20rem;
  display: flex;
  justify-content: center;
}

.basic-social-bar-map {
  display: flex;
  flex-flow: row wrap;
}

.social-icon {
  padding: .2rem;
  margin: auto;
}

.basic-sb-vertical-wrapper{
  justify-content: center;
  border: 2px solid black;
  flex-flow: column wrap;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  margin: auto;
  padding: auto;
  max-width: 5em;
}
